.marketMenuTitle {
    font-size: 24px;
}

.marketMenuLayout {
    background: #FFF;
    width: 18%;
    position: absolute;
    bottom: 10px;
    z-index: 999;
    left: 10px;
    padding: 20px;
    border: #8c8c8c 1px solid;
    border-radius: 12px;
}

.marketMenuSelect {
    width: 100%;
}

.marketMenuSelect :global(.ant-select-selector) {
    border-radius: 50px;
}