.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 16px;
    background: #597ef7;
    color: #FFF;
}

.iconButton.disabled {
    background: #8c8c8c;
    cursor: not-allowed;
}

.iconButton.disabled:hover {
    background: #8c8c8c;

}

.iconButton:hover {
    background: #2F54EB;
}

.buttonText {
    padding-left: 4px;
    color: #FFF;
    font-size: 12px;
}