.menuTitle {
    font-size: 24px;
}

.menuLayout {
    background: #FFF;
    width: 18%;
    position: absolute;
    /*top: 140px;*/
    z-index: 999;
    left: 10px;
    padding: 20px;
    border: #8c8c8c 1px solid;
    border-radius: 12px;
}

.menuSelect {
    width: 100%;
}

.menuSelect :global(.ant-select-selector) {
    border-radius: 50px;

}