.square-headline-title {
    font-size: 30px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
}
.square-headline-location {
    font-size: 12px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
}
.square-headline-overview {
    font-size: 22px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
}
.square-headline {
    font-size: 22px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
}

.last-scraped-data {
    color: #8c8c8c;
    font-family: 'Roboto', 'sans-serif';
}

.occupancies-text {
    color: #8c8c8c;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: 16px;
}

svg {
    height: 22px;
}

.airbnb-link {
    cursor: pointer;
}