.cell-component-text-headline {
  font-weight: bold;
}

.cell-component-text {
  margin-left: 8px;
}

.map-container {
  height: 100vh;
  width: 100%;
}

.square-drawer .ant-drawer-body {
  padding: 0;
}